*.o
*.a
*.dll
*.exe
*.layout
*.depend
*.html
*.so
*.opensdf
*.sdf
*.suo
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.iml
*.dir/
*.pdb
*.psess
*.vsp
Debug/
lib/
Release/
ipch/
obj/
changelog.txt

log.txt

CMakeCache.txt
CMakeFiles/
install_manifest.txt
Makefile
*.cbp
*.cmake

renaissance/_old_bin/
renaissance/_old_bin_msvc/
renaissance/.idea/
renaissance/config/*
dependencies/pluto-jar/test.plh

renaissance/addons/ibitolua_tests/scripts/